<!--<!DOCTYPE html>
<html>
    <head>
    
        <link rel="shortcut icon" href="https://www.online-convert.com/downloadFile/233538df-f8fb-4003-b3a1-27ea2c6c9ff1/fb705144-29d3-4d79-b676-2a9662ba8d72">
        <meta charset="utf8">
        <title>Account Creation</title>
    </head>
    <body>

        <h1>Create an Account</h1>
        <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.15752-9/37126039_1718940438213794_1606724218639089664_n.jpg?_nc_cat=0&oh=f73531c1070b5917a0296c199ab9776a&oe=5C0910BB" alt="kermit" width=350 height=350>
        <form action="/create" method="post">
            <input name="username" placeholder="username">
            <input name="password" placeholder="password">
            <input name="funds" placeholder="funds">
            <input type="submit">
            <a href="/login">Login Menu</a>
        </form>
    <body/>-->

    <!DOCTYPE html>
    <html lang='en'>
        <head>
            <!-- this isn't displayed on the webpage -->
            <link rel="apple-touch-icon" sizes="57x57" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192"  href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/Paulinakhew/my_website/master/static/favicon-16x16.png">
            <meta charset="utf8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="login menu">
            <meta name="author" content="Paulina Khew">
            <title>Create Account</title>
            <!-- Bootstrap core CSS -->
            <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
        </head>
            
        <body class="text-center">
            <form action="/create" method="post" class="form-signin"> 
                <style>
                        body 
                        {background: linear-gradient(#fff 0%, #b6eee2 25%,#9aece5 50%, #7df1e7 90%);}
                        </style>
                <!--TODO: I need to make the remember me check box work-->
                <!--<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.15752-9/39822907_2602539103105268_8456832314251411456_n.jpg?_nc_cat=0&oh=c36043f55849998dc94d98dbfaa422a4&oe=5BECF047" alt="kermit" width=350 height=350>-->
                <img class="mb-4" src="https://scontent-frt3-2.cdninstagram.com/vp/92f8e289949f9183f21012f00c076833/5C10BFE0/t51.2885-15/e35/34324515_2019662578297955_2112631079314653184_n.jpg?se=7&ig_cache_key=MTc5MzI1OTk2OTczNTMwOTAxNA%3D%3D.2" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Create an Account</h1>
                <input name="username" placeholder="username" required>
                <input name="password" placeholder="password" required>
                <input name="funds" placeholder="funds" required>
                    <!--<label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>-->
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
                <a href="/login">Go back to login</a>
                <p class="mt-5 mb-3 text-muted">&copy; Paulina Khew 2018</p>
            </form>
            </span>
        </body>
    </html>
    
    
    <!--body 
    {background: linear-gradient(#93B874 10%, #C9DCB9 40%, #17a2b8 70%, #007bff 90%);}
                    {background: linear-gradient(#28a745 5%, #93B874 20%, #17a2b8 70%, #007bff 90%);}-->
    
    <!-- light blue gradient                     {background: linear-gradient(#fff 0%, #b1e6ee 30%,#86dce9 50%, #5fbbf0 90%);}-->
    
    
    
    <!--{background-color: #17a2b8;}-->
    
    
    <!--<h3>Hi, <span style="color:red"> {{name}} </span></h3> -->
    <!-- <h3>Hi, <span style="color:#00FF00"> {{name}} </span></h3> -->
    <!-- this is how you comment stuff out -->
    
    
    
    