<!DOCTYPE html>
<html lang='en'>
    <head>
        <link rel="apple-touch-icon" sizes="57x57" href="static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="login menu">
        <meta name="author" content="Paulina Khew">
        <title>Create Account</title>
        <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <form action="/create" method="post" class="form-signin">
            <style>
                body {
                    background: linear-gradient(#fff 0%, #b6eee2 25%,#9aece5 50%, #7df1e7 90%);
                }
            </style>
            <img class="mb-4" src="static/blank_user.png" alt="Blank user image" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Create an Account</h1>
            <div>
                {% if cannot_create %}
                    <div class="alert alert-primary" role="alert">
                        An account with that username already exists. Please create a new one.
                    </div>
                {% endif %}
                <input name="username" placeholder="username" required>
                <input name="password" placeholder="password" required>
                <input name="funds" placeholder="funds" type="number" min="0" step="any" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
            <a href={{ url_for('login') }}>Go back to login</a>
            <p class="mt-5 mb-3 text-muted">&copy; Paulina Khew 2020</p>
        </form>
    </body>
</html>
