<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon" sizes="57x57" href="static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Web Trader Dashboard">
        <meta name="author" content="Paulina Khew">
        <title>Dashboard</title>
        <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">
    </head>

    <body>
        <form action="/dashboard" Method="post"></form>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Web Trader | Your Portfolio</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href={{ url_for('login') }}>Sign out</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href={{ url_for('menu') }}>
                                    <span data-feather="home"></span>
                                    Main Menu
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="">
                                    <span data-feather="file-text"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            <li class="nav-item">
                                <a class="nav-link" href={{ url_for('trade') }}>
                                    <span data-feather="shopping-cart"></span>
                                    Buy and Sell Menu
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={{ url_for('search') }}>
                                    <span data-feather="bar-chart"></span>
                                    Lookup and Quote
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={{ url_for('contact') }}>
                                    <span data-feather="users"></span>
                                    Contact Paulina Khew
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={{ url_for('login') }}>
                                    <span data-feather="users"></span>
                                    Exit
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                        <div class="btn-toolbar mb-2 mb-md-0"></div>
                    </div>
                    <div class="table-responsive">
                        {% if not position_list and not result %}
                            <h3>You do not currently have any holdings or transactions.</h3>
                        {% elif position_list or result %}
                            {% if position_list %}
                                <h3>Your current holdings:</h3>
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th style="width:25%">Ticker Symbol</th>
                                            <th style="width:25%">Shares</th>
                                            <th style="width:50%">Last Purchased Price</th>
                                            <!--<th style="width:25%">Current Value</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in position_list %}
                                            <tr>
                                                <td>{{ row[0]|upper }}</td>
                                                <td>{{ row[1] }}</td>
                                                <td>$ {{ row[2] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                            <h3>You do not currently have any holdings.</h3>
                            <br>
                            {% endif %}
                            {% if result %}
                            <h3>Your transaction history:</h3>
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th style="width:25%">Ticker Symbol</th>
                                            <th style="width:25%">Shares</th>
                                            <th style="width:25%">Purchased Price</th>
                                            <th style="width:25%">Time Purchased</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in result %}
                                        <tr>
                                            <td>{{ row[0]|upper }}</td>
                                            <td>{{ row[1] }}</td>
                                            <td>$ {{ row[2] }}</td>
                                            <td>{{ row[3] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h3>You do not currently have any transactions. </h3>
                            {% endif %}
                        {% endif %}
                    </div>
                </main>
            </div>
        </div>
        <script src="https://unpkg.com/feather-icons@4.7.3/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
    </body>
</html>