<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="This is the main menu page for Paulina Khew's Web Trader Flask application. ">
        <meta name="author" content="Paulina Khew">
        <link rel="apple-touch-icon" sizes="57x57" href="static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
        <title>Menu</title>
        <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="https://www.linkedin.com/in/paulinakhew/" target="_blank">Paulina Khew's</a> Web Trader</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href={{ url_for('menu') }}>Menu</a>
                        <a class="nav-link" href={{ url_for('dashboard') }}>Dashboard</a>
                        <a class="nav-link" href={{ url_for('search') }}>Lookup and Quote</a>
                        <a class="nav-link" href={{ url_for('trade') }}>Buy and Sell Menu</a>
                        <a class="nav-link" href={{ url_for('login') }}>Exit</a>
                    </nav>
                </div>
            </header>
            <main role="main" class="inner cover">

                <h1 class="cover-heading">Web Trader Menu</h1>
                <p class="lead">Welcome to Web Trader! You can look up ticker symbols, search for the last price of any stock on Nasdaq, and buy and sell with your own funds. </p>
            </main>
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>This trading website is created by <a href="https://github.com/Paulinakhew" target="_blank">@Paulinakhew</a>.</p>
                </div>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
    </body>
</htgml>
